* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}



/* ESERCIZIO */

/* N.1 */

.ex-1-square {
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* N.2 */

.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* N.3 */

.ex-3-square {
    transition: all 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* N.4 */

.ex-4-square {
    transition: all 4s;
}

.ex-4-square:hover {
    background-color: #f5f5f5;
    /* Rimosso opacity durante la correzione perchè non necessario */
}

/* N.5 */

.ex-5-square {
    transition: all 2s;
}

.ex-5-square:hover {
    /* width: 100px;
    height: 100px; 

    Meglio usare scale*/
    transform: scale(2);
}

.ex-5-square:active {
    /* width: 30px;
    height: 30px; */
    transform: scale(0.5);
}

/* N.6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* N.7 */

.ex-7-img {
    transition: all 2s;
}

.ex-7-img:hover {
    filter: grayscale(50%) sepia(50%);
}

/* N.8 */

.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    border-radius: 15px;
    filter: grayscale(70%) sepia(30%);
}

/* N.9 */

.ex-9-img {
    transition: all 2s;
}

.ex-9-img:hover {
    /* margin: 0;
    width: 600px; */
    transform: scale(1.5);
    filter: grayscale(40%) sepia(60%);
    border-radius: 10px;
}

/* N.10 */

.ex-10-icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
} 

/* N.11 */

.ex-11-icon:hover {
    animation: spin-back 2s linear 1; /*Tolto alternate perché non necessario*/
}

@keyframes spin-back {
    80% {
        transform: rotate(300deg); /*Cambiato il valore di rotazione per far stoppare il giro prima*/
    }
}

/* N.12 */

/* .linea:hover {
    animation: run-back 1s linear 2 alternate-reverse;
    animation: run-forward 1s linear 2 alternate-reverse;
}

@keyframes run-back{
    0% {
        transform: translate(100%);
    }
}

@keyframes run-forward {
    0% {
        transform: translate(-100%);
    }
} 

Ragionamento sbagliato*/

.ex-12-button:hover .ex-12-top-white {
    animation: translateRight 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: translateLeft 2s linear;
}

@keyframes translateRight {
    50% { 
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

@keyframes translateLeft {
    50% { 
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}


/* N.13 */

.ex-13-button:hover .ex-13-top-white {
    animation: moveTop 2s linear;
}
 /* RIVEDERE CORREZIONE ESERCIZIO */




